@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    .zoomOutForPrint { zoom: 0.75; } 
  }
  
/* debug css */
/* * > * {
    background-color: rgba(120, 33, 44 ,0.1);
}
* + * > *{
    background-color: rgba(222, 130, 44 ,0.1);
}
* + * > * + * {
    background-color: rgba(222, 130, 240 ,0.1);
} */